<app-mat-icon-usage></app-mat-icon-usage>
<app-menu-toolbar-usage></app-menu-toolbar-usage>
<app-side-nav-usage></app-side-nav-usage>
<div class="container">

<div class="row col-md-12" >
    <div class="col-md-6">
        <app-mat-check-box-usage></app-mat-check-box-usage>
    </div>
    
        
    
</div>
<div class="row col-md-12" >
    <div class="col-md-6">
        <app-mat-slider-toggle-usage></app-mat-slider-toggle-usage>
    </div>
    
</div>

<app-mat-snack-bar-usage></app-mat-snack-bar-usage>

<app-mat-progress-bar-usage></app-mat-progress-bar-usage>
<app-mat-table-usage></app-mat-table-usage>
<router-outlet></router-outlet>