<h2 id="level1">Angular Material check box</h2>
<section class="example-section">
    <mat-checkbox class="example-margin" labelposition="before">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
  </section>

  <h2 id="level1" >Angular Material radio </h2>
  <section class="example-section">
    <mat-radio-button class="example-margin" id="appleBtn" name="foodGroup" labelposition="before" value="Apple">Apple </mat-radio-button>
    <mat-radio-button class="example-margin" id="bananaBtn" name="foodGroup">Banana</mat-radio-button>
  </section>
  



