<div>
 <h3 class="level2">Determinate Progress bar</h3>   
<mat-progress-bar class="level2" mode="determinate" [value]="progress"></mat-progress-bar>
<h3 class="level2">InDeterminate Progress bar</h3>   
<mat-progress-bar class="level2" mode="indeterminate" ></mat-progress-bar>
<h3 class="level2">Buffer Progress bar</h3>   
<mat-progress-bar class="level2" mode="buffer" [value]=50 ></mat-progress-bar>
<h3 class="level2">Query Progress bar</h3>   
<mat-progress-bar class="level2" mode="query" [value]=50 ></mat-progress-bar>
<h3 class="level2">Spinner Progress bar</h3> 
<mat-progress-spinner class="level2"  [value]="progress" ></mat-progress-spinner>
<mat-progress-spinner class="level2" mode="determinate" [value]="progress" ></mat-progress-spinner>
<mat-progress-spinner class="level2" mode="indeterminate"  ></mat-progress-spinner>
<mat-spinner class="level2"   ></mat-spinner>
</div>